[submodule "code/containers"]
	path = code/containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = https://github.com/ReproNim/containers.git
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds004917.git
	datalad-id = 9330c809-619c-4643-a2e2-bc1514fb1f5f
	datalad-url = https://github.com/OpenNeuroDatasets/ds004917.git
